
{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<div class="container my-4" >
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Estabilished in 1920. <span class="text-muted">Best Hospital In Asia</span></h2>
            <p class="lead">A hospital is a health care institution providing patient treatment with specialized health science</p>
          </div>
          <div class="col-md-5">
            <img src="https://source.unsplash.com/400x400/?about,doctor" alt="">
    
          </div>
        </div>
    
        <hr class="featurette-divider">
    
        <div class="row featurette" mx=4>
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Health Is Wealth Is Our Motto <span class="text-muted">Real Wealth Of Everyone</span></h2>
            <p class="lead">Health is the greatest gift, contentment the greatest wealth, faithfulness the best relationship.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img src="https://source.unsplash.com/400x400/?brand,company" alt="">
    
          </div>
        </div>
    
        <hr class="featurette-divider">
    
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Top Health Facility To Each And Everyone <span class="text-muted">Diseases Will End One Day.</span></h2>
            <p class="lead"> Health is a state of complete physical, mental and social well being.</p>
          </div>
          <div class="col-md-5">
            <img src="https://source.unsplash.com/400x400/?hospital" alt="">
    
          </div>
        </div>
    
        <hr class="featurette-divider">
    
        <!-- /END THE FEATURETTES -->
    
      </div>
</div>
{% endblock body %}
